Django==5.0.3
whitenoise==6.7.0
django-cors-headers==4.4.0
requests==2.32.3
python-decouple==3.8
# 아래는 실제로 쓰면만 활성화
django-ckeditor==6.7.2
Markdown==3.6
PyJWT>=2,<3
# beautifulsoup4==4.13.5
openpyxl==3.1.5
