<!-- chat/templates/chat/chat_room_list.html -->
{% extends 'base.html' %} {% block content %}
<h1>Chat Rooms</h1>

{% if rooms %}
<ul>
  {% for room in rooms %}
  <li>
    <a href="{% url 'chat_room' room.id %}">
      Chat between {{ room.user1.username }} and {{ room.user2.username }}
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No chat rooms available.</p>
{% endif %}

<h2>Start a Chat</h2>
<form id="chat-form" action="{% url 'create_chat_room' %}" method="POST">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Start Chat</button>
</form>
{% endblock %}
