<!-- chat/templates/chat/room.html -->
{% extends 'base.html' %} {% block page_content %}
<h2>{{ room.name }}</h2>

<ul>
  {% for message in messages %}
  <li><strong>{{ message.user.username }}:</strong> {{ message.content }}</li>
  {% endfor %}
</ul>

<form method="POST">
  {% csrf_token %}
  <input
    type="text"
    name="message"
    placeholder="메시지를 입력하세요"
    required
  />
  <button type="submit">전송</button>
</form>

<!-- 채팅방 삭제 버튼 -->
{% if room.owner == user %}
<form method="POST" action="{% url 'delete_room' room_name=room.name %}">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">채팅방 삭제</button>
</form>
{% endif %}

<a href="{% url 'leave_room' room_name=room.name %}">나가기</a>
{% endblock %}
