{% extends 'base.html' %} {% block page_content %}
<div class="container mt-5">
  <div class="card border-custom shadow-lg">
    <div class="card-body">
      <h1 class="text-custom mb-4" style="font-size: 2.5rem; font-weight: bold">
        {{ exam.title }}
      </h1>

      <p class="text-custom mb-4">{{ exam.description }}</p>

      <div class="alert alert-info" role="alert">
        🙏 본 모의고사는 오답과 미정 정답이 많기에 양해 부탁드립니다.
      </div>
      <div class="alert alert-info" role="alert">
        ☑️ 정답 표시 및 해설 표시를 누르면 정답 및 해설을 확인할 수 있습니다.
      </div>
      <div class="alert alert-info" role="alert">
        📝 모의고사를 보고 싶으면 우측 하단의 타이머를 셋팅한 후 Start Exam을
        누르면 카운팅이 시작됩니다.
      </div>
      <div class="alert alert-info" role="alert">
        🔚 End Exam을 누르거나 타이머가 종료되면 시험이 종료되고 결과 화면으로
        자동으로 넘어갑니다.
      </div>
      <div class="alert alert-info" role="alert">
        ⏲️ 전문의 시험 1차 1교시: 120분, 1차 2교시: 60분, 2차: 100분으로 맞추고
        시작하면 됩니다.
      </div>
      <div class="alert alert-info" role="alert">
        📬 오답 정정, 미정 정답 의견, 해설 의견 등이 있는 경우
        escapebaek@gmail.com으로 연락 부탁드립니다.
      </div>

      <a href="{% url 'question_list' exam.id %}" class="btn btn-custom mt-4">
        View Questions
      </a>
    </div>
  </div>
</div>

<style>
  .text-custom {
    color: #0a4d92 !important;
  }

  .btn-custom {
    background-color: #0a4d92;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .btn-custom:hover {
    background-color: #073b6b;
    transform: scale(1.05);
    color: #ffffff !important;
  }

  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .alert-info {
    background-color: #e9f7fd;
    color: #31708f;
    border-color: #bce8f1;
  }
</style>
{% endblock %}
