{% extends 'base.html' %} {% block page_content %}

<!-- Container for content -->
<div class="container mt-4">
  <!-- Card for the board index -->
  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr class="text-center">
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          {% for board in boards %}
          <tr class="text-center">
            <td>{{ board.id }}</td>
            <td>
              <a
                href="{% url 'board_detail' board.pk %}"
                class="text-decoration-none text-custom"
              >
                {{ board.title }}
              </a>
            </td>
            <td>{{ board.author }}</td>
            <td>{{ board.created_date | date:"Y-m-d H:i" }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Button to create a new post -->
  <div class="row">
    <div class="col text-end">
      <a
        class="btn btn-primary btn-lg"
        href="{% url 'board_create' %}"
        role="button"
        >Create Post</a
      >
    </div>
  </div>
</div>

{% endblock %}
