<!-- templates/board/board_form.html -->
{% extends 'base.html' %} {% load static %} {% block page_content %}
<div class="container">
  <h2>글쓰기</h2>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="btn btn-primary">저장</button>
  </form>
</div>

<!-- CKEditor JavaScript 초기화 -->
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script>
  // Replace the textarea with CKEditor
  CKEDITOR.replace("id_contents");
</script>
{% endblock %}
