{% extends 'base.html' %} {% block page_content %}
<div class="container mt-5">
  <div class="card border-custom shadow-sm">
    <div class="card-body">
      <h2 class="text-custom mb-4" style="font-size: 2rem; font-weight: bold">
        Change Password
      </h2>
      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <!-- This will render the form fields -->
        <button type="submit" class="btn btn-primary">Change Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
