{% extends "base.html" %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'accounts/password_reset_form.css' %}">
{% endblock %}

{% block page_content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm border-custom">
        <div class="card-body">
          <h2 class="text-center text-custom mb-4">Password Reset</h2>

          <form method="post">
            {% csrf_token %}
            <div class="mb-3">
              {{ form.email.label_tag }}
              {{ form.email }}
              {% if form.email.errors %}
              <div class="text-danger small">
                {% for error in form.email.errors %}
                  {{ error }}
                {% endfor %}
              </div>
              {% endif %}
            </div>

            <button type="submit" class="btn btn-primary w-100 rounded-pill">
              Send Password Reset Email
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
