
  .border-custom {
    border-color: var(--primary) !important;
  }

  .text-custom {
    color: var(--primary);
  }

  .card {
    border-radius: 1rem;
  }

  .card-body {
    padding: 2rem;
  }

  h2 {
    font-weight: bold;
  }

  .btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
  }

  .btn-primary:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
  }

  .rounded-pill {
    border-radius: 50px;
  }

  .form-control {
    border-radius: 50px;
    border-color: var(--primary);
    padding-left: 20px;
  }

  .mb-3 {
    margin-bottom: 1.5rem;
  }

  .text-danger {
    color: #dc3545 !important;
  }
