// Forward all shared UI component partials
@forward "buttons";
@forward "cards";
@forward "forms";
@forward "tables";
@forward "alerts";
@forward "badges";
@forward "modal";
@forward "timer";
@forward "etc";

