<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}ANExuS{% endblock %}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      .container {
        flex: 1;
      }
      footer {
        background-color: #f8f9fa;
        padding: 10px 0;
        text-align: center;
        position: relative;
        width: 100%;
        bottom: 0;
      }
      footer p {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'home' %}">ANExuS</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-text">안녕하세요, {{ user.username }} 님!</span>
          </li>
          <li class="nav-item">
            <form action="{% url 'logout' %}" method="post" class="form-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger ml-2">
                Logout
              </button>
            </form>
          </li>
          <li class="nav-item">
            <form
              action="{% url 'password_change' %}"
              method="get"
              class="form-inline"
            >
              <button type="submit" class="btn btn-outline-primary ml-2">
                Change Password
              </button>
            </form>
          </li>
          {% else %}
          <li class="nav-item">
            <form action="{% url 'login' %}" class="form-inline">
              <button type="submit" class="btn btn-outline-primary ml-2">
                Login
              </button>
            </form>
          </li>
          <li class="nav-item">
            <a href="{% url 'register' %}" class="btn btn-info ml-2"
              >Register</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div class="container mt-5">{% block page_content %} {% endblock %}</div>
  </body>
  <footer>
    <div class="container">
      <p>&copy; 2024 ANExuS. All rights reserved.</p>
      <p>
        Contact: <a href="mailto:escapebaek@gmail.com">escapebaek@gmail.com</a>
      </p>
    </div>
  </footer>
</html>
