{% extends 'base.html' %} {% block page_content %}
<div class="container mt-5">
  <h1 class="text-primary mb-4" style="font-size: 2rem; font-weight: bold">
    ARSA Guideline Based Coagulation Drug Reference
  </h1>
  <div class="row">
    {% for coag in coags %}
    <div class="col-md-3">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ coag.drugName }}</h5>
          <a
            href="{% url 'coag_detail' drugName=coag.drugName %}"
            class="btn btn-primary"
          >
            ASRA Guideline
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
