{% extends 'base.html' %} {% block page_content %}
<div class="container mt-5">
  <h1 class="text-custom mb-4" style="font-size: 2rem; font-weight: bold">
    ARSA Guideline Based Coagulation Drug Reference
  </h1>
  <div class="row">
    {% for coag in coags %}
    <div class="col-md-3 mb-4">
      <div class="card h-100 shadow-lg">
        <div class="card-body">
          <h5 class="card-title text-custom">{{ coag.drugName }}</h5>
          {% if coag.subtitle %}
          <p class="card-subtitle mb-2 text-muted">{{ coag.subtitle }}</p>
          {% endif %}
          <a
            href="{% url 'coag_detail' drugName=coag.drugName %}"
            class="btn btn-custom mt-3"
          >
            ASRA Guideline
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<style>
  .text-custom {
    color: #0a4d92 !important;
  }

  .btn-custom {
    background-color: #0a4d92;
    color: #ffffff;
    border: none;
  }

  .btn-custom:hover {
    background-color: #073b6b;
    color: #ffffff !important; /* Ensures the text remains visible */
  }

  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card-subtitle {
    font-size: 0.875rem;
    color: #6c757d;
  }
</style>
{% endblock %}
